* {
  box-sizing: border-box;
}

.grid {
  margin-right: 25px;
  margin-left: 25px;
}

.col {  
  float: left;
  padding: 10px;
  border: 2px solid black;
  height: 617px;
}

.left {
  width: 25%;
  padding: 5px;
}

.right {
  width: 75%;
  padding: 5px;
}

.list {
  height: 551px;
  overflow: scroll;
  margin-top: 1rem;
}

.main-head {
  grid-area: header;
}

.ql-editor {
  min-height: 40rem;
}

#new-note-button {
  margin-left: 100px;
}

delete {
  float: right;
}

#title {
  margin: 1rem;
}

/* .delete-note {
  margin-left: 25px;
} */

/* #delete-note-button {
  margin-left: 10px;
} */