* {
  box-sizing: border-box;
}

.col {  
  float: left;
  padding: 10px;
  border: 2px solid black;
  height: 100%;
}

.left {
  width: 25%;
  padding: 5px;
}

.main-head {
  grid-area: header;
}

.right {
  width: 75%;
  padding: 5px;
}

#new-note-button {
  margin-left: 100px;
}

delete {
  float: right;
}

/* .delete-note {
  margin-left: 25px;
} */

/* #delete-note-button {
  margin-left: 10px;
} */